body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

.default {
	position: absolute;
	top: 0;
	left: 0;
}

#border {
      display: block;
      width: $banner-width;
      height: $banner-height;
      pointer-events: none;
      outline: solid 1px #000;
      outline-offset: -1px;
      z-index: 999;
  }

#banner {
	background: #bdb991;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    opacity: 0;

    .text {
        position: absolute;
        top: 0;
        left: 300px;
        width: $banner-width;
        height: $banner-height;
        transform: translate3d(0, 0, 0.1px);
        display: none;
    }

    #logo1 {
        position: absolute;
        top: 40px;
        left: 79px;
        width: 145px;
    }

    #logo2 {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 35px;
    }

    #img {
        position: absolute;
        top: 108px;
        right: 37px;
        transform: translate3d(0, 0, 0.1px);
    }

    #cta {
        position: absolute;
        bottom: 20px;
        left: 20px;
        opacity:0;
        width: 133px;
    }

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    


}
